@font-face {
  font-family: "iconfont"; /* Project id 3977436 */
  src: url('iconfont.woff2?t=1679826268574') format('woff2'),
       url('iconfont.woff?t=1679826268574') format('woff'),
       url('iconfont.ttf?t=1679826268574') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-diamond:before {
  content: "\e91f";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-yongyan:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-yunxiazai:before {
  content: "\eb2c";
}

.icon-yun:before {
  content: "\e6cf";
}

.icon-compass:before {
  content: "\e67d";
}

.icon-wangguan1:before {
  content: "\e624";
}

